body {
    font-family: Arial, sans-serif;
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  form, ul {
    margin: 10px 0;

  }
  
  button {
    background-color: green;
    margin: 5px;
  }
  